body{
  /* text-align: center; */
  margin: 0;
  background: #25252E;
}
.titlePicture{
  background-color: hsl(0,0%,80%);
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#blogUl1,#blogUl2,#blogUl3,#blogUl4,#blogUl5{
  display: none;
}
.blogView{
  color: #323232;
  border-left: solid 6px rgb(22,97,117);/*左側の線*/
  border-bottom: solid 2px #dadada;/*下に灰色線*/
  background: white;
  margin-bottom: 5px;/*下のバーとの余白*/
  line-height: 1.5;
  padding: 0.5em;
  margin-left: 5%;
  margin-right: 5%;
  list-style-type: none!important;/*ポチ消す*/
  font-weight: bold;
  height: 45vw;
  /* overflow: scroll; */
}
.viewBlogPicture{
  width: 45%;
  height: 30vw;
  margin-top: 4vw;
  object-fit: cover;
  float: left;
  margin-right: 3%;
}
.viewBlogTitle{
  margin-left: 3%;
  font-size: 4.3vw;
  text-decoration: underline;
}
.viewBlogContents{
  margin-right: 3%;
  font-size: 2.8vw;
  margin-top: 1%;
}
.blogTag{
  color: rgb(22,97,117);
  font-size: 3.2vw;
  margin-left: 18%;
}
.selectTag{
  color: rgb(22,97,117);
}
.selectTag:hover{
  color: black;
}
#selectTags{
  margin-left: 10%;
  margin-bottom: 2%;
  font-size: 1.5vw;
}
.scrollRange{
  width: 20%;
  height: 800px;
  margin-left: 3%;
  position: relative;
  /* margin-top: 20px; */
  /* background-color: red; */
  float: left;
  /* z-index: -100; */

    line-height: 20%;
}
.blogSecion{
    background: hsl(0, 1%, 96%);
    padding-top: 5%;
    z-index: -1000;
}
.outline_back {
    width: 110%;
    height: 50vh;
    /* position: absolute; */
    border-top: solid 10px #FF857A;
    /* top: 2500px; */
    margin-top: -4%;
    margin-left: -10%;
    background-color: #25252E;
    transform: skew(0deg, -5deg);
    text-align: center;
    /* overflow: hidden; */
    z-index: -10;
}
.outline_back_line{
  margin-top: -16%;
}


.blog-beta-content{
  font-size: 2.4vw;
  margin-top: 3vh;
  text-align: center;
}




@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);
.select-box {
  cursor: pointer;
  position : relative;
  max-width:  30em;
  margin: 5em auto;
  width: 100%;
}

.select,
.label {
  color: #414141;
  display: block;
  font: 800 30px/2em 'Source Sans Pro', sans-serif;
}

.select {
  width: 100%;
  position: absolute;
  top: 0;
  padding: 5px 0;
  height: 40px;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  background: none transparent;
  border: 0 none;
}
.select-box1 {
  background: #ececec;
}

.label {
  position: relative;
  padding: 5px 10px;
  cursor: pointer;
}
.open .label::after {
   content: "▲";
}
.label::after {
  content: "▼";
  font-size: 30px;
  position: absolute;
  right: 0;
  top: 0;
  padding: 5px 15px;
  border-left: 5px solid #fff;
}
